.detailItem:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 16px;
  background-color: #dadde1; 
  margin: 0 6px;
  vertical-align: middle;
}
.card{
  border-radius: 16px;
  padding: 16px;
  background-color: #fff;
  height: 100%;
}
.model{
  color: #00aad4;
}
.image{
  width: 244px;
  height: 268px;
  object-fit: cover; 
  border-radius: 14px;
  background: linear-gradient(180deg, rgba(18, 20, 23, 0.5) 2.5%, rgba(18, 20, 23, 0) 41.07%);
}
.title, .price{
  margin: 0;
}
.title{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
}
.header{
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 8px;
  min-height: 40px;
}
.detailsList{
  border-radius: 8px;
  padding: 8px;
  width: 244px;
  min-height: 52px;
  background-color: #f5f5f5;
line-height: 1.33%;
}
.detailItem{
  font-size: 12px;
display: inline;
}
.readMoreBtn{
  margin-top: 24px;
  border-radius: 12px;
padding: 12px 0;
width: 244px;
height: 44px;
font-weight: 600;
font-size: 16px;
line-height: 1.25;
font-family: inherit;
cursor: pointer;
color: #fff;
background-color: #00aad4;
border-color: transparent;
display: block;
  transition: background-color 250ms cubic-bezier(0.39, 0.575, 0.565, 1);

}
.readMoreBtn:hover, .readMoreBtn:active{
  background-color: #0095ba;
}